<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yishang.xiaozhen.mapper.ActivityBookingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yishang.xiaozhen.entity.ActivityBooking">
        <id column="id" property="id" />
        <result column="activity_id" property="activityId" />
        <result column="activity_count_id" property="activityCountId" />
        <result column="booking_person" property="bookingPerson" />
        <result column="booking_unit" property="bookingUnit" />
        <result column="booking_count" property="bookingCount" />
        <result column="mobile" property="mobile" />
        <result column="join_people" property="joinPeople" />
        <result column="approval_status" property="approvalStatus" />
        <result column="approval_by" property="approvalBy" />
        <result column="approval_time" property="approvalTime" />
        <result column="approval_remark" property="approvalRemark" />
        <result column="open_id" property="openId" />
        <result column="org_id" property="orgId" />
        <result column="status" property="isStatus" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
    </resultMap>


</mapper>
