<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yishang.xiaozhen.mapper.AdminUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yishang.xiaozhen.entity.AdminUser">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="real_name" property="realName" />
        <result column="user_image" property="userImage" />
        <result column="org_id" property="orgId" />
        <result column="status" property="isStatus" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
    </resultMap>


    <select id="selectPage" resultType="com.yishang.xiaozhen.entity.dto.AdminUserDTO">
        select
            a.id,a.username,a.real_name realName,a.user_image userImage,a.create_time createTime,a.is_status isStatus
        ,CAST(group_concat(r.name) as char) as roles,CAST(group_concat(r.id) as char) as roleIds
        from u_admin_user a
        LEFT JOIN u_user_role u ON a.id = u.user_id
        LEFT JOIN u_role r ON u.role_id = r.id
        where 1=1
        <if test="username != null and username != ''">
            and a.username like CONCAT ('%',#{username},'%')
        </if>
        <if test="isStatus != null and isStatus != ''">
            and a.is_status = #{isStatus}
        </if>
         <if test="roleId != null and roleId != ''">
            and r.id = #{roleId}
        </if>
        GROUP BY a.id,a.username,a.real_name,a.user_image,a.create_time,a.is_status
        ORDER BY a.create_time DESC
        LIMIT #{page},#{size}

    </select>
    <select id="selectCount2" resultType="java.lang.Integer">

        SELECT
        count(1) count
        FROM
        (
        SELECT a.id
        from u_admin_user a
        LEFT JOIN u_user_role u ON a.id = u.user_id
        LEFT JOIN u_role r ON u.role_id = r.id
        where a.is_status = 1
        <if test="username != null and username != ''">
            and a.username like CONCAT ('%',#{username},'%')
        </if>
        <if test="isStatus != null and isStatus != ''">
            and a.is_status = #{isStatus}
        </if>
        <if test="roleId != null and roleId != ''">
            and r.id = #{roleId}
        </if>
        GROUP BY a.id,a.username,a.real_name,a.user_image,a.create_time,a.is_status) t

    </select>
</mapper>
