<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yishang.xiaozhen.mapper.IndexMapper">


    <select id="userSum" resultType="java.lang.Integer">
        SELECT COUNT(1) count from u_admin_user where is_status =1
    </select>

    <select id="todayNewlyAddedUser" resultType="java.lang.Integer">
        SELECT COUNT(1) count from u_admin_user
        where is_status =1
        <![CDATA[
        and create_time > #{todayStart}
        ]]>
    </select>

    <select id="weekActivityReceiveCounts" resultType="java.lang.Integer">

        SELECT COUNT(1) count from ys_activity_booking where is_status =1 and approval_status = 1
        <![CDATA[
        and create_time > #{weekLocalDateTime}
        ]]>
    </select>

    <select id="weekReceReceiveCounts" resultType="java.lang.Integer">
        SELECT COUNT(1) count from ys_receive_booking where is_status =1 and approval_status = 1
        <![CDATA[
        and create_time > #{weekLocalDateTime}
        ]]>
    </select>

    <select id="weekMeetReceiveCounts" resultType="java.lang.Integer">
        SELECT COUNT(1) count from ys_meeting_area_booking where is_status =1 and approval_status = 1
        <![CDATA[
        and create_time > #{weekLocalDateTime}
        ]]>
    </select>

    <select id="activityWaitBooking" resultType="java.lang.Integer">
     SELECT COUNT(1) count from ys_activity_booking where is_status =1 and approval_status = 0
    </select>
    <select id="receWaitBooking" resultType="java.lang.Integer">
        SELECT COUNT(1) count from ys_receive_booking where is_status =1 and approval_status = 0
    </select>
    <select id="meetingWaitBooking" resultType="java.lang.Integer">
        SELECT COUNT(1) count from ys_meeting_area_booking where is_status =1 and approval_status = 0
    </select>


    <select id="chartActivity" resultType="java.util.Map">
        SELECT
        DATE_FORMAT(create_time, '%Y-%m-%d' ) days,
        count(*) count
        FROM
        ( SELECT create_time FROM ys_activity_booking
        <![CDATA[
        WHERE is_status =1 and DATE_SUB( CURDATE( ), INTERVAL 7 DAY ) <= date( create_time) ) as day
        ]]>
        GROUP BY
        days
        ORDER BY create_time
    </select>
    <select id="chartRece" resultType="java.util.Map">
        SELECT
        DATE_FORMAT(create_time, '%Y-%m-%d' ) days,
        count(*) count
        FROM
        ( SELECT create_time FROM ys_receive_booking
        <![CDATA[
        WHERE is_status =1 and DATE_SUB( CURDATE( ), INTERVAL 7 DAY ) <= date( create_time) ) as day
        ]]>
        GROUP BY
        days
        ORDER BY create_time
    </select>
    <select id="chartMeeting" resultType="java.util.Map">
        SELECT
        DATE_FORMAT(create_time, '%Y-%m-%d' ) days,
        count(*) count
        FROM
        ( SELECT create_time FROM ys_meeting_area_booking
        <![CDATA[
        WHERE is_status =1 and DATE_SUB( CURDATE( ), INTERVAL 7 DAY ) <= date( create_time) ) as day
        ]]>
        GROUP BY
        days
        ORDER BY create_time
    </select>




</mapper>
