<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yishang.xiaozhen.mapper.MeetingAreaBookingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yishang.xiaozhen.entity.MeetingAreaBooking">
        <id column="id" property="id" />
        <result column="meeting_area_id" property="meetingAreaId" />
        <result column="booking_person" property="bookingPerson" />
        <result column="booking_unit" property="bookingUnit" />
        <result column="mobile" property="mobile" />
        <result column="remark_info" property="remarkInfo" />
        <result column="booking_start_time" property="bookingStartTime" />
        <result column="booking_end_time" property="bookingEndTime" />
        <result column="join_people" property="joinPeople" />
        <result column="meeting_table" property="meetingTable" />
        <result column="meeting_type" property="meetingType" />
        <result column="meeting_goods" property="meetingGoods" />
        <result column="remark" property="remark" />
        <result column="approval_status" property="approvalStatus" />
        <result column="approval_by" property="approvalBy" />
        <result column="approval_time" property="approvalTime" />
        <result column="approval_remark" property="approvalRemark" />
        <result column="open_id" property="openId" />
        <result column="org_id" property="orgId" />
        <result column="status" property="isStatus" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
    </resultMap>

    <select id="selectPage" resultType="com.yishang.xiaozhen.entity.dto.MeetingAreaBookingDTO">
        select
        a.meeting_name name,
        b.id,
        b.open_id openId,
        b.booking_unit bookingUnit,
        b.booking_person bookingPerson,
        b.mobile,
        b.join_people joinPeople,
        b.booking_start_time bookingStartTime,
        b.booking_end_time bookingEndTime,
        b.create_time createTime,
        b.approval_status approvalStatus
        from ys_meeting_area a
        INNER JOIN ys_meeting_area_booking b
        ON a.id = b.meeting_area_id
        where a.is_status = 1
        <if test="meetingName != null and meetingName != ''">
            and a.meeting_name like CONCAT ('%',#{meetingName},'%')
        </if>
        <if test="approvalStatus != null and approvalStatus != ''">
            and b.approval_status = #{approvalStatus}
        </if>
        <if test="bookingStartDate != null and bookingEndDate != null">
            <![CDATA[
            and #{bookingStartDate} < b.booking_start_time
            and b.booking_end_time <  #{bookingEndDate}
            ]]>
        </if>
        ORDER BY b.create_time DESC
        LIMIT #{page},#{size}
    </select>

    <select id="selectCount" resultType="java.lang.Integer">
        select
        count(1) count
        from ys_meeting_area a
        INNER JOIN ys_meeting_area_booking b
        ON a.id = b.meeting_area_id
        where a.is_status = 1
        <if test="meetingName != null and meetingName != ''">
            and a.meeting_name like CONCAT ('%',#{meetingName},'%')
        </if>
        <if test="approvalStatus != null and approvalStatus != ''">
            and b.approval_status = #{approvalStatus}
        </if>
        <if test="bookingStartDate != null and bookingEndDate != null">
            <![CDATA[
            and #{bookingStartDate} < b.booking_start_time
            and b.booking_end_time <  #{bookingEndDate}
            ]]>
        </if>

    </select>

</mapper>
